/* imported Common Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


/* Header Section Styles */

.head-container{
    width: 1349px;
    height: 677px;
    background-color: #2D25A0; 
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 56px 42px 67px 124px;

}
.menu-items ul{
    display: flex;
    justify-content: flex-start;
}
.menu-items li{
    list-style: none;
    margin-right: 36px;
    
}
.menu-items li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}
.login-button{
    width: 123px;
    height: 54px;
    background-color: #E02C6D;
    padding-right: 20px;

}
.login-button ul{
    display: flex;
    justify-content: flex-end;
}
.login-button li{
    list-style: none;
}
.login-button li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    padding-right: 20px;
}
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 124px;
}
.banner-title h1{
    width: 485px;
    height: 230px;
    font-size: 64px;
    font-weight: 700;
    color: #FFFFFF;
}
.banner-title p{
    font-size: 24px;
    font-weight: 500;
    color: #FFFFFF;
}
.banner-button  {
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-arrow-right{
    color:#FFFFFF ;
}
.banner-image  {
    width: 500px;
    height: 400px;
}
.banner-image img{
    width: 100%;
}


/*--------------------
 Main Body Design 
 ---------------------- */
 .main-body-container   {
     display: flex;
     flex-direction: column;
     
 }
 .body-container{
     margin-left: 195px;
     margin-right: 210px;
     margin-top: 70px;
     margin-bottom: 165px;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap: 27px 27px;
 }
.player-box{
    width: 330px;
    height: 474px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}
.player-image img{
    width: 300px;
    height: 256px;
    margin-top: 5%;
}
.player-details h1{
    width: 300px;
    height: 40px;
    font-size: 28px;
    font-weight: 700;
    color: #18191F;
    margin-top: 1px;
   
}
.player-details p{
    width: 300px;
    height: 124px;
    font-size: 16px;
    font-weight: 300;
    color: #6C6C6C;
    margin: 0;
}
.highlights{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 124px;
}
.highlight-title{
    width: 470px;
    height: 310px;
    padding-bottom: 90px;
}
.highlight-title h1{
    font-size: 48px;
    font-weight: 700;
    color: #0A0826;
}
#highlight-font{
    font-size: 16px;
    font-weight: 400;
    color: #6C6C6C;
}
.highlight-button{
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.highlight-image{
    width: 600px;
    height: 500px;
}
.highlight-image img{
    width: 100%;
}



/* Footer Area  */
.footer-container{
    width: 484px;
    height: 213px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 475px;
    margin-top: 158px;
    margin-bottom: 63px;
}
.footer-logo{
    width: 484px;
    height: 110px;
}
footer img{
    width: 100%;
}
.social-icons   {
    width: 170px;
    height: 32px;
    margin: 10px;
}
.social-icons a img{
    width: 32px;
    height:32px;
    padding-left: 4%;
}